<div class="container">
 <div class="content">
  
    <h1>My Weight Entry is</h1>

    <h1><%= @stat.weight %></h1>

  
    
<% if Helpers.current_user(session) == @stat.user %>
<p>If Correct Weight, Please see:</p>

<a href="/users/<%=Helpers.current_user(session).id if Helpers.is_logged_in?(session)%>">  My Weight Log </a>  </p>
<br> 

<p>If Not Edit or Delete Weight Entry Here</p>
<a href="/stats/<%=@stat.id%>/edit">Edit Weight</a>
<form action="/stats/<%=@stat.id%>/delete" method="post">
<form action="/stats/<%= @stat.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>
<%end%>
  </div>
  </div>

